.cartao-pokemon{
    display: none;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-pokemon.tipo-grama{
    background-color: rgb(0,111,85);
    background: linear-gradient(135deg, rgb(0,111,85) 0%, rgb(0,158,129) 35%, rgb(83,208,176) 100%);
}

.cartao-pokemon.tipo-fogo{
    background-color: rgb(194,0,0);
    background: linear-gradient(135deg, rgb(194,0,0) 0%, rgb(255,0,0) 35%, rgb(255,90,54) 100%);
}

.cartao-pokemon.tipo-agua{
    background-color: rgb(61,142,203);
    background: linear-gradient(135deg, rgb(0,97,154) 0%, rgb(61,142,203) 35%, rgb(118,190,254) 100%);
}

.cartao-pokemon.tipo-eletrico{
    background-color: rgb(196,151,0);
    background: linear-gradient(135deg, rgb(196,151,0) 0%, rgb(252,199,25) 35%, rgb(255,250,88) 100%);
}

.cartao-pokemon.tipo-fantasma{
    background-color: rgb(136,58,151);
    background: linear-gradient(135deg, rgb(136,58,151) 0%, rgb(186,105,200) 35%, rgb(136,58,151) 85%);
}

.cartao-pokemon.tipo-dragao{
    background-color: rgb(112,56,248);
    background: linear-gradient(135deg, rgb(44,0,196) 0%, rgb(112,56,248,1) 35%, rgb(169,104,255,1) 100%);
}

.cartao-pokemon.tipo-psiquico{
    background: rgb(197,141,160);
    background: linear-gradient(135deg, rgb(148,95,114) 0%, rgb(197,141,160) 35%, rgb(249,190,209) 100%);
}

.cartao-pokemon .cartao-cabecalho{
    background-image: url(../img/pokebola-card.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    padding: 30px 40px 0;
}

.cartao-pokemon .nome{
    margin-bottom: 5px;
}

.cartao-pokemon .tipo{
    font-size: 12px;
    border-radius: 5px;
    padding: 3px 7px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-shadow: rgba(6, 24, 44, 0.1) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 2px 2px -5px;
}

.cartao-pokemon .tipo.tipo-grama{
    background-color: #7C5;
}

.cartao-pokemon .tipo.tipo-veneno{
    background-color: #a59;
}

.cartao-pokemon .tipo.tipo-fogo{
    background-color: #F42;
}

.cartao-pokemon .tipo.tipo-agua{
    background-color: #39F;
}

.cartao-pokemon .tipo.tipo-eletrico{
    background-color: #FC3;
}

.cartao-pokemon .tipo.tipo-fantasma{
    background-color: #66B;
}

.cartao-pokemon .tipo.tipo-gelo{
    background-color: #6CF;
}

.cartao-pokemon .tipo.tipo-dragao{
    background-color: #7038F8;
}

.cartao-pokemon .tipo.tipo-voador{
    background-color: #084D6E;
}

.cartao-pokemon .tipo.tipo-psiquico{
    background-color: #F59;
}

.cartao-pokemon .detalhes-pokemon{
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartao-pokemon .cartao-imagem{
    width: 350px;
    height: 350px;
}

.cartao-pokemon img{
    max-height: 100%;
}

.cartao-pokemon .informacoes-principais{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 70px 30px 40px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-pokemon .informacoes-principais h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.cartao-pokemon .informacoes-principais .status, .cartao-pokemon .informacoes-principais .habilidades{
    padding: 0 15px;
    width: 50%;
}

.cartao-pokemon .informacoes-principais ul li{
    border-bottom: 1px solid #C3C4C5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
    opacity: 75%;
}

.cartao-pokemon.aberto{
    display: block;
}