@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: url(../img/pokebola-bg.jpg);
    background-size: 120%;
}

header{
    display: flex;
}

header img{
    margin: auto;
    margin-top: 5px;
}

main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex{
    display: flex;
    gap: 30px;
    padding: 10px 0 30px;
}