.listagem{
    max-width: 200px;
    max-height: 580px;
    overflow-y: scroll;
}

.listagem .pokemon{
    background-color: #453daa;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 7px 10px;
    padding: 0 5px;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: 55px;
    box-shadow: rgba(100, 100, 111, 0.2) 3px 3px 5px 0px;
    transition: 0.25s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
    border-radius: 30px;
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span{
    padding-left: 10px;
    font-size: 17px;
}

.listagem .pokemon.ativo{
    border-top-left-radius: 20px;
    background-color: rgb(43, 41, 147);
}

.listagem .pokemon.ativo:hover{
    border-radius: 30px;
}

.listagem .tipo-grama:hover{
    background-color: rgb(0,158,129);
}

.listagem .tipo-fogo:hover{
    background-color: rgb(194,0,0);
}

.listagem .tipo-agua:hover{
    background-color: rgb(61,142,203);
}

.listagem .tipo-eletrico:hover{
    background-color: rgb(196,151,0);
}

.listagem .tipo-fantasma:hover{
    background-color: rgb(136,58,151);
}

.listagem .tipo-dragao:hover{
    background-color: rgb(112,56,248);
}

.listagem .tipo-psiquico:hover{
    background-color: rgb(197,141,160);
}

.listagem::-webkit-scrollbar{
    width: 15px;
}

.listagem::-webkit-scrollbar-track{
    background: rgba(47,44,149,0.5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.listagem::-webkit-scrollbar-thumb{
    background: rgb(47,44,149);
    border-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}