.listagem{
    max-width: 200px;
}

.listagem .pokemon{
    background-color: #6B727A;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 55px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.25s ease-in-out;
}

.listagem .pokemon:hover{
    transform: scale(1.05);
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span{
    padding-right: 15px;
}

.listagem .pokemon.ativo{
    background-color: #FA6668;
}

.listagem .tipo-grama:hover{
    background-color: #40D0B0;
}

.listagem .tipo-fogo:hover{
    background-color: #FF4040;
}

.listagem .tipo-agua:hover{
    background-color: #76BEFE;
}

.listagem .tipo-eletrico:hover{
    background-color: #FCC719;
}

.listagem .tipo-fantasma:hover{
    background-color: #BA69C8;
}

.listagem .tipo-dragao:hover{
    background-color: #208370;
}

.listagem .tipo-psiquico:hover{
    background-color: #C58DA0;
}

.listagem .pokemon.ativo:hover{
    background-color: #FA6668;
}