@media (max-width: 750px){
    body{
        font-size: 12px;
    }

    header img{
        width: 250px;
    }

    .pokedex{
        flex-direction: column;
    }

    .cartao-pokemon{
        max-width: 300px;
    }
    
    .cartao-pokemon .cartao-cabecalho{
        background-size: 210px;
    }

    .cartao-pokemon .tipo{
        font-size: 9px;
        border-radius: 5px;
        padding: 1.5px 3.5px;
    }

    .cartao-pokemon .cartao-imagem{
        width: 200px;
        height: 200px;
    }

    .cartao-pokemon .informacoes-principais{
        padding: 25px 0 25px;
        margin-top: -45px;
    }
    
    .cartao-pokemon .informacoes-principais h3{
        font-size: 16px;
        margin: 20px 0 10px;
    }

    .cartao-pokemon .informacoes-principais ul li{
        font-size: 12px;
        padding-bottom: 4px;
        margin-bottom: 4px;
    }

    .listagem{
        max-width: 320px;
    }

    .listagem ul{
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
    }

    .listagem .pokemon{
        width: 140px;
        border-radius: 100px;
        margin: 0 2.5px;
    }

    .listagem .pokemon img{
        width: 35%;
        border-radius: 50%;
    }

    .listagem .pokemon span{
        padding-left: 7px;
        font-size: 12px;
    }
    
    .listagem .pokemon.ativo{
        border-radius: 100px;
    }
}